<div class="mat-new">
    <h4 class="card-heading">
        <button mat-icon-button (click)="goBack()">
            <mat-icon>chevron_left</mat-icon>
        </button> Home <span class="sub-menu1">> E-Books > {{pTitle}}</span>
    </h4>
</div>
<mat-card>
    <div class="top-br">
        <form [formGroup]="addCyberPolicyForm">

            <div class="row">
                
                <div class="form-group col-md-6">
                    <label for="title">Name<span class="required">*</span></label>
                    <input type="text" id="title" class="form-control" maxlength="250" placeholder="Tab Name" required
                        formControlName="name">
                    <span class="validation_msg" *ngIf="f.name.errors && f.name.errors.required && isError">Please Enter
                        Name</span>
                </div>

            </div>
  
            <div class="form-group">
                <label class="form-label"> Document <span class="required">*</span></label>
                <input type="file"  #file accept=".pdf" (change)="onSelectDoc($event)" id="image"> 
                <mat-icon *ngIf="docUrl" class="document_icon" (click)="openDoc()" >description</mat-icon>
                <span class="note">Max File Size 50 MB. (Only pdf and doc format.)</span>
                <span class="validation_msg" *ngIf="!isFile && isError" >Document is required</span>
            </div>
      
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="status" class="form-label">Status <span class="required">*</span></label>
                    <select name="" id="status" class="form-control" required formControlName="status">
                        <option value="" disabled selected hidden>Select</option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
                    </select>
                    <span class="validation_msg" *ngIf="f.status.touched && f.status.invalid">*Please Select
                        Status</span>
                </div>
            </div>


            <button mat-raised-button *ngIf="!id" (click)="addCyberPolicy()">Add E-Books</button>
            <button mat-raised-button *ngIf="id" (click)="updateCyberPolicy()">Update E-Books</button>

        </form>

    </div>
</mat-card>