<div class="container-fluid" style="background-image: url('assets/img/Banner_1_1_helicopter.jpg'); height: 180px;background-size: cover;float: left;
    width: 100%;">
  <div class="row" id="top-baner" style="display: flex;align-items: center;height: 100%;">
    <div class="col-md-12">
      <h1 class="cms">About us</h1>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 30px;float: left;width: 100%;">
  <h2 style="justify-content: center;text-align: center;">Home</h2>

  <div class="row">
    <div class="col-md-10" id="con-r">
      <p><strong>The Indian Military Academy, Dehradun, trains Officer Cadets for commissioning into the Indian Army,
          as also a large number of cadets from friendly foreign countries for their respective Armed forces.</strong>
      </p>
      <p><strong>The Academy boasts of a glorious history, spanning eight decades. The professionalism and rich
          traditions are an integral part of the Nation's proud heritage, and have contributed to the development of a
          strong foundation of independent India.</strong></p>
      <p><strong>The path of leadership of troops is paved with immense challenges and is not a soft option in
          comparison to glamour and heraldry. The future officers of Indian Army pass out through the portals of the
          Indian Military Academy where rigorous training in leadership, self discipline and the art of war is imparted
          to them before they actually take their place as officers in command of troops. The alumni of the IMA have
          time and again displayed sterling qualities of character, leadership and gallantry often including the supreme
          sacrifice for the cause of the nation.</strong></p>
      <img src="assets/img/about1.jpg">
      <p>The professionalism of the alumni of the Academy was put to test in 1939, just a few years after the founding
        of the Academy, when Britain declared war against Nazi Germany and other Axis Powers.<br />TRIAL & TRIUMPH</p>
      <img src="assets/img/about2.jpg">
      <p>The training modules aim to help them to learn more about camaraderie, esprit-de-corps and team spirit. These
        factors not only develop self confidence but also culminate in enhancing the ability and readiness of the
        trainees to assume leadership in critical situations.<br />TRAINING @ I.M.A.</p>
      <img src="assets/img/about3.jpg">
      <p>On admission to the Academy one is christened as ‘Officer Cadet’. The Academy plays a vital role in moulding
        the differences and helps them anchored into a common bonding. Doing things together brings a sense of fellow
        feeling.<br />LIFE OF A 'OC'</p>
      <img src="assets/img/about4.jpg">
      <p>The Sword of Honour is the most coveted recognition that an Officer Cadet aspires to possess. It is given
        for the best overall performance by a OC in Military Training, Academics, Sports and Extra Co-curricular
        activities.<br />ROLL OF HONOUR</p>
    </div>
    <div class="col-md-2">
      <h2 class="rht-hd">About Us</h2>
      <ul class="topic">
        <li><a routerLink="/pages/about">About us</a></li>
        <li><a routerLink="/pages/history">History</a></li>
        <li><a routerLink="/pages/organization">Organization</a></li>
        <li><a routerLink="/pages/entries">Entries</a></li>
        <li><a routerLink="/pages/GC-life">Life of a OC</a></li>
        <!-- <li>No contnt</li> -->
      </ul>
    </div>
  </div>
</div>