<div class="container-fluid" style="background-image: url('https://joinindianarmy.nic.in/writereaddata/Portal/Template_ScriptBanner/Banner_1_1_helicopter.jpg'); height: 180px;background-size: cover;float: left;
    width: 100%;">
  <div class="row" id="top-baner" style="display: flex;align-items: center;height: 100%;">
    <div class="col-md-12">
      <h1 class="cms">History</h1>
    </div>
  </div>
</div>

<div class="container-fluid" style="margin-top: 30px;float: left;width: 100%;">
  <h2 style="justify-content: center;text-align: center;">Inauguration</h2>

  <div class="row">
    <div class="col-md-10" id="con-r">
      <h4>Genesis</h4>
      <img src="assets/img/history1.jpg">
      <p>The founding of the Academy preceded the attainment of Independence from the British rule by 15 years. The
        crucial link between the founding of a military academy and the attainment of independence was acutely realized
        by a section of Indian leadership in the days of struggle for independence, whose concerted efforts resulted in
        the recommendations of the Montague Chelmsford Reforms Committee that enabled ten Indians for receiving training
        at Sandhurst for induction as commissioned officers; setting up of the Skeen Committee in 1925; and later
        holding of Round Table Conference in London in 1930, which recommended the establishment of the Indian
        Sandhurst. As a follow up action, a committee was set up under the chairmanship of Field Marshal Sir Philip
        Chetwode, the then Commander-in-Chief of India, to work out modalities for establishment of an Indian Sandhurst.
        In Jul 1931, the committee recommended establishment of a military academy for induction of 40 Officer Cadets
        (OC) in each term comprising 15 as Direct Entries, 15 from the ranks through Kitchner College, Nowgaon and 10
        from princely states. The training span was initially envisaged for three years but later reduced to two and a
        half years.</p>
      <h4>Inauguration (1932)</h4>
      <img src="assets/img/history2.jpg">
      <p>The Government of India acquired the estate of the erstwhile Railway College Dehradun, for establishment of a
        military academy, which had the appropriate buildings and a fairly extensive campus to meet the requirements of
        military training. The first batch of 40 OCs commenced training in the facilities at Dehradun wef 01 October
        1932 under the able stewardship of Brig LP Collins, DSO, OBE the first Commandant of the Academy. Among others
        the first course, called ‘Pioneers’, comprised SHFJ (Sam) Manekshaw (India), Smith Dun (Burma) and Mohd Musa
        (Pakistan), who later rose to the position of Army Chiefs of their respective countries.Due to certain
        unavoidable reasons, formal inauguration of the Academy was postponed to the 10th December 1932. Field Marshal
        Sir Philip Chetwode, Baronet GCB, GCSS, CCMA, DSO, then Commander-in-Chief India, after whom the main building
        and its central hall are named, inaugurated the Academy on the penultimate day of the first term. A large number
        of Indian and European guests witnessed the occasion. It was a victory for the Indian leadership who had
        spearheaded the creation of a military academy in India for Indians to be commissioned as officers. The crowning
        glory of this landmark event was the inaugural address by Sir Philip Chetwode, delivered in the hallowed hall of
        the Academy, later named after him as the Chetwode Hall. His address was a pointed piece of stirring oration and
        has come to acquire a kind of immortality as a passage from his address has been adopted as the Credo of the
        Academy. The Chetwode saying echoes till date in each military establishments of India and continues to beckon
        the officers of their duty and honour. It says: -</p>
      <p>
        "THE SAFETY, HONOUR AND WELFARE OF YOUR COUNTRY<br />
        <strong>COME FIRST, ALWAYS AND EVERY TIME.</strong><br />
        THE HONOUR, WELFARE AND COMFORT OF THE MEN YOU COMMAND<br />
        <strong>COME NEXT.</strong><br />
        YOUR OWN EASE, COMFORT AND SAFETY<br />
       <strong> COME LAST, ALWAYS AND EVERY TIME."</strong>
      </p>
      <img src="assets/img/hindi.jpg">
<br/><br/><br/>
    </div>
    <div class="col-md-2">
      <h2 class="rht-hd">About Us</h2>
      <ul class="topic">
        <li><a href="#/pages/about">About us</a></li>
        <li><a href="#/pages/history">History</a></li>
        <li><a href="#/pages/organization">Organization</a></li>
        <li><a href="#/pages/entries">Entries</a></li>
        <li><a href="#/pages/GC-life">Life of a OC</a></li>
        <!-- <li>No contnt</li> -->
      </ul>
    </div>
  </div>
</div>