<div class="mat-new">
    <h4 class="card-heading"> Creative Corner <span class="sub-menu1"></span> </h4>

</div>

<mat-card>

    <mat-card-title>
        
    <div class="pull-right">
        <!-- <div class="search">
            <input class="search_input" (input)="applyFilter($event)" placeholder="Search ..." #input>
        </div> -->
        <button mat-raised-button (click)="addBlog()" class="add-btton pull-right "  >
            <mat-icon>add</mat-icon> Add
        </button>
    </div>
    </mat-card-title>
<br>

    <mat-card-content>

       
    <div class="example-container ">
        <div class="example-table-container">
            <table mat-table [dataSource]="imablogsList" (matSortChange)="sortData($event)" matSort>

                <ng-container matColumnDef="number">
                    <th mat-header-cell *matHeaderCellDef>S.No.</th>
                    <td mat-cell *matCellDef="let element;let i = index;">
                        {{i +1 + (myPaginator.pageIndex * myPaginator.pageSize)}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
                    <td mat-cell *matCellDef="let element"> 
                        <img [src]="element.blogImage" (error)="noImg($event)" width="50" height="50" 
                        class="img-fluid img-circle" alt="User Image">
                        {{element.title}}
                     </td>
                </ng-container>

                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>

                <ng-container matColumnDef="author">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
                    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
                </ng-container>

                <ng-container matColumnDef="minutes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Minutes of Reading </th>
                    <td mat-cell *matCellDef="let element"> {{element.minutesOfReading}} </td>
                </ng-container>

                
                <ng-container matColumnDef="document">
                    <th mat-header-cell *matHeaderCellDef> Document </th>
                    <td mat-cell *matCellDef="let element"  class="act-btn" >
                       
                        <a *ngIf="element.docs" (click)="openDoc(element)" href="javascript:void(0)">
                            <mat-icon>
                                description
                            </mat-icon>
                        </a>
                        <p  *ngIf="!element.docs"  >-</p>
                        
                    </td>
                </ng-container>
                
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-slide-toggle [checked]="element.status == 1" [disabled]="userName != element.author"
                            (change)="changeBlogStatus($event,element.id)">
                        </mat-slide-toggle>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef> View </th>
                    <td class="act-btn" mat-cell *matCellDef="let element"> <a href="javascript:void(0)"
                            (click)="viewBlog(element)">
                            <mat-icon>visibility</mat-icon>
                        </a> </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" style="text-align: center;" colspan="10">No Record Found</td>
                </tr>
            </table>
        </div>

        <mat-paginator #myPaginator  [length]="resultsLength"  [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
    </div>
 
    </mat-card-content>


</mat-card>